table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
    font-size: 14px;
}
table td,table th{
    border: 1px solid blueviolet;
    padding: 10px;
}
img{
    height: 100px;
    width: 100px;
}